.App {
  min-height: 100vh;
}

.login-button {
  color: white;
  background-color: #343a40;
  border: white solid 2px;
  padding: 10px 20px;
  &:hover {
    text-decoration: none;
    color: #343a40;
    background-color: white;
  }
}

.register-button {
  color: #44d1ad;
  background-color: #343a40;
  border: #44d1ad solid 2px;
  padding: 10px 20px;
  &:hover {
    text-decoration: none;
    color: #343a40;
    background-color: #44d1ad;
  }
}

.login-form {
  border: #343a40 2px solid;
  padding: 40px; 
  width: 25%;
  margin: 100px auto;
}