@import url("https://fonts.googleapis.com/css?family=Calistoga|Montserrat&display=swap");
@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed&display=swap');

//! Fonts
// font-family: 'Calistoga', cursive;
// font-family: 'Montserrat', sans-serif;
// font-family: 'Roboto Condensed', sans-serif;


// Color vars
:root {
  --mainWhite: #f3f3f3;
  --mainGreen: #44d1ad;
  --mainBlack: #343a40;
}

.App {
  position: relative;
  min-height: 100vh;
  margin: 0;
  background: var(--mainWhite);
  font-family: "Montserrat", sans-serif;

  // HEADINGS && SUBHEADINGS
  .heading,
  .sub-heading {
    font-family: "Calistoga", cursive;
  }
}