//******* HEADER *******//
.logo {
  background-color: var(--mainBlack);
  span {
    font-weight: bolder;
  }
}

.login-button {
  color: white;
  background-color: var(--mainBlack);
  border: white solid 2px;
  padding: 10px 20px;
  &:hover {
    text-decoration: none;
    color: var(--mainBlack);
    background-color: white;
  }
}

.register-button {
  color: var(--mainGreen);
  background-color: var(--mainBlack);
  border: var(--mainGreen) solid 2px;
  padding: 10px 20px;
  &:hover {
    text-decoration: none;
    color: var(--mainBlack);
    background-color: var(--mainGreen);
  }
}

@media screen and (max-width: 770px) {
  .login-button, .register-button {
    // background-color: var(--mainBlack);
    border: none;
    color: var(--mainWhite);
    text-decoration: none;
    &:focus {
      text-decoration: none;
      color: var(--mainGreen);
      background-color: var(--mainBlack);
    }
  }
}
